@mixin socialsize {
    font-size: 25px;
    margin: 5px 15px;
    padding: 20px;
    height: 25px;
    width: 25px;
}

@mixin socialhover {
    transition: ease-out 0.5s;
    background: white;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//End Mixins
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #0088CC;
}

#Navlist {
    display: flex;
    a {
        text-decoration: none;
        margin: 50px 50px;
        color: white;
    }
    &:hover {}
}

#logo {
    display: flex;
    justify-content: left;
    position: absolute;
    padding: 0 0;
    margin: 0 0;
    img {
        height: 100px;
    }
}

#social {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    width: 50%;
}

#header {
    @include center;
}

#Spotify {
    position: flex;
    justify-content: right;
    align-items: center;
    display: none;
}

footer {}

.fa {
    color: white;
    @include center;
    text-align: center;
    text-decoration: none;
    &.fa-telegram {
        background: linear-gradient(#0088CC);
        @include socialsize();
        &:hover {
            color: #0088CC;
            @include socialhover();
        }
    }
    &.fa-instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        @include socialsize();
        &:hover {
            color: #1DA1F2;
            @include socialhover();
        }
    }
    &.fa-twitter {
        @include socialsize();
        background: linear-gradient(#1DA1F2);
        &:hover {
            color: #1DA1F2;
            @include socialhover();
        }
    }
    &.fa-facebook {
        @include socialsize();
        background: linear-gradient(#1778F2);
        &:hover {
            color: #1778F2;
            @include socialhover();
        }
    }
    &.fa-github {
        @include socialsize();
        background: linear-gradient(#211F1F);
        &:hover {
            color: #211F1F;
            @include socialhover();
        }
    }
    &.fa-linkedin {
        @include socialsize();
        background: linear-gradient(#0e76a8);
        &:hover {
            color: #0e76a8;
            @include socialhover();
        }
    }
}

.btn {
    color: black;
    background-color: transparent;
    padding: 15px 5px;
    margin: 10px 5px;
    text-align: center;
    text-overflow: clip;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        background-color: gold;
    }
}

#resume {
    margin-top: 5%;
}

#splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/00100lPORTRAIT_00100_BURST20190330211252751_COVER.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 56.25%;
    background-size: cover;
    position: relative;
    h1 {
        @include center();
        color: white;
        font-size: 50px;
        font-family: 'azonixregular';
    }
    p {
        @include center();
        color: white;
    }
}

#text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
    #social {
        display: none;
    }
}

//Start
#Title {
    @include center();
}