@mixin socialsize {
    font-size: 25px;
    margin: 5px 5px;
    padding: 20px 20px;
    height: 25px;
    width: 25px;
}

@mixin socialhover {
    transition: ease-out 0.5s;
    background: white;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Spotify {
    position: fixed;
    right: 0px;
    display: none;
}

footer {}

.fa {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    &.fa-telegram {
        background: linear-gradient(#0088CC);
        @include socialsize();
        &:hover {
            color: #0088CC;
            @include socialhover();
        }
    }
    &.fa-instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        @include socialsize();
        &:hover {
            color: #1DA1F2;
            @include socialhover();
        }
    }
    &.fa-twitter {
        @include socialsize();
        background: linear-gradient(#1DA1F2);
        &:hover {
            color: #1DA1F2;
            @include socialhover();
        }
    }
    &.fa-facebook {
        @include socialsize();
        background: linear-gradient(#1778F2);
        &:hover {
            color: #1778F2;
            @include socialhover();
        }
    }
    &.fa-github {
        @include socialsize();
        background: linear-gradient(#211F1F);
        &:hover {
            color: #211F1F;
            @include socialhover();
        }
    }
    &.fa-linkedin {
        @include socialsize();
        background: linear-gradient(#0e76a8);
        &:hover {
            color: #0e76a8;
            @include socialhover();
        }
    }
}

#social {
    display: flex;
    justify-content: right;
}

.btn {
    color: black;
    background-color: transparent;
    padding: 15px 5px;
    margin: 10px 5px;
    text-align: center;
    text-overflow: clip;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        background-color: gold;
    }
}

#resume {
    margin-top: 5%;
}