body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #0088CC;
}

#Navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Navlist a {
  text-decoration: none;
  margin: 50px 50px;
  color: white;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: absolute;
  padding: 0 0;
  margin: 0 0;
}

#logo img {
  height: 100px;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 50%;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Spotify {
  position: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.fa {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
}

.fa.fa-telegram {
  background: -webkit-gradient(linear, left top, left bottom, from(#0088CC));
  background: linear-gradient(#0088CC);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-telegram:hover {
  color: #0088CC;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-instagram:hover {
  color: #1DA1F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-twitter {
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1DA1F2));
  background: linear-gradient(#1DA1F2);
}

.fa.fa-twitter:hover {
  color: #1DA1F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-facebook {
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1778F2));
  background: linear-gradient(#1778F2);
}

.fa.fa-facebook:hover {
  color: #1778F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-github {
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#211F1F));
  background: linear-gradient(#211F1F);
}

.fa.fa-github:hover {
  color: #211F1F;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-linkedin {
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e76a8));
  background: linear-gradient(#0e76a8);
}

.fa.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.btn {
  color: black;
  background-color: transparent;
  padding: 15px 5px;
  margin: 10px 5px;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: gold;
}

#resume {
  margin-top: 5%;
}

#splash {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/00100lPORTRAIT_00100_BURST20190330211252751_COVER.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/00100lPORTRAIT_00100_BURST20190330211252751_COVER.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 56.25%;
  background-size: cover;
  position: relative;
}

#splash h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 50px;
  font-family: 'azonixregular';
}

#splash p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  #social {
    display: none;
  }
}

#Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */