@mixin socialsize {
    font-size: 25px;
    margin: 50px 10px;
    padding: 50px;
}

@mixin socialhover {
    transition: ease-in 0.5s;
    border-radius: 20px;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Spotify {
    position: fixed;
    right: 0px;
}

footer {}

.fa {
    font-size: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    &.fa-google {
        background-color: #1DA1F2;
        @include socialsize();
        &:hover {
            background-color: white;
            color: #1DA1F2;
            transition: ease-in 0.5s;
            @include socialhover();
        }
    }
    &.fa-instagram {
        background-color: #1DA1F2;
        @include socialsize();
        &:hover {
            background-color: white;
            color: #1DA1F2;
            transition: ease-in 0.5s;
            @include socialhover();
        }
    }
    &.fa-twitter {
        @include socialsize();
        background-color: #1DA1F2;
        &:hover {
            background-color: white;
            color: #1DA1F2;
            transition: ease-in 0.5s;
            @include socialhover();
        }
    }
    &.fa-facebook {
        @include socialsize();
        background-color: #1778F2;
        &:hover {
            background-color: white;
            color: #1778F2;
            transition: ease-in 0.5s;
            @include socialhover();
        }
    }
    &.fa-github {
        @include socialsize();
        background-color: #1DA1F2;
        &:hover {
            background-color: white;
            color: #1DA1F2;
            transition: ease-in 0.5s;
            @include socialhover();
        }
    }
    &.fa-linkedin {
        @include socialsize();
        background-color: #0e76a8;
        &:hover {
            background-color: #333333;
            color: #0e76a8;
            @include socialhover();
        }
    }
}

.btn {
    color: black;
    background-color: transparent;
    padding: 15px 5px;
    margin: 10px 5px;
    text-align: center;
    text-overflow: clip;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        background-color: gold;
    }
}

#resume {
    margin-top: 5%;
}